/* CONFIGS GERAIS  */

:root {
    --rosa:#B300FF;
    --roxo:#5E0982;
    --amarelo:#FFA100;
    --preto:#020202;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;			
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* =========================== HEADER CONFIG =========================== */

header {
    display: flex;
    align-items: center;
    background-color: var(--preto);
    color: #fff;
    padding: 20px;
}

.logo-header {
    height: 50px;
    margin-right: 20px;
}

.title {
    font-size: 24px;
    margin-right: auto;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    display: inline-block;
    padding: 10px;
    background-color: var(--preto);
    color: #fff;
    text-decoration: none;
    transition: all 0.6s ease-in-out;
    font-size: 1.1em;
}

nav a:hover {
    background-color: var(--roxo);
    color: var(--amarelo);
}

/* =========================== MAIN CONFIG =========================== */

.title-main {
    text-align: center;
    padding: 1em;
    font-size: 1.6em;
}

#sect-produts > .container-produts, .em-breve-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
    justify-content: center; 
    align-items: center; 
    max-width: 1000px; 
    margin: 0 auto; 
}

.container-produts > .produts > img {
    width: 70%;
    height: auto;
}

.produts, .em-breve-products {
    text-align: center;
}

h2.title-produts {
    text-align: center;
}

p.price-produts {
    text-align: center;
    padding: 1em;
    margin: 1em;
    background-color: var(--roxo);
    color: #fff;
    font-weight: 700;
}


.em-breve-products > .produts-breve > img {
    filter: blur(10px);
    width: 70%;
    height: auto;

}

.sub-title {
    text-align: center;
}

/* =========================== FOOTER CONFIG =========================== */

footer {
    padding: 20px;
    background-color: var(--preto);
}

footer > h3 {
    text-align: center;
    color: #fff;
    font-size: 1.4em;
}

footer > h5 {
    text-align: center;
    color: #fff;
}

footer > h5 > a {
    text-align: center;
    color: var(--rosa);
}

.container-patrocinadores {
    display: grid;
    grid-template-columns: repeat(4, 40px) 55px;
    grid-gap: 50px;
    justify-content: center;

}

.container-patrocinadores > .patrocinador > img {
    background-color: #fff;
    padding: 1em;
    width: 40px;
}

.container-patrocinadores > #redragon-logo > img {
    width: 55px;
}

.container-socialmedia {
    padding: 1em 0;
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-gap: 40px;
    justify-content: center;
}

.container-socialmedia > .social-media > i {
    font-size: 24px;
    color: var(--amarelo);
    background-color: var(--roxo);
    padding: .5em;
}

